<!-- 자바스크립트 연습용 파일입니다 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!-- 지문 배열 -->
    <%  const text=[['해야할 일이 많을 때?','계획을 세워서 최대한 빨리 처리한다.','미루고 미루다 마감일 하루 전에 처리한다','주변 사람의 도움을 받는다.'],['친구의 고민을 들어줄 때?','해결책을 제시해준다.','일단 공감해준다','비슷한 나의 경험을 들려준다'],['카페에 갔는데 얼굴만 아는 지인이 있을 때?','못본 척 한다.','눈인사만 한다.','다가가서 아는 척을 한다.'],['가장 중요한 것은?','사랑과 우정','자연과 동물','돈'],['힘들어 죽겠는데 친한 친구들과 약속이 있을 때?','사과하고 약속을 미룬 다음 집에서 쉰다.','얼굴만 비추고 집에 돌아온다.','친구들을 만나서 신나게 놀며 스트레스를 푼다.'],['말도 안되는 이유로 비난을 받았을 때?','속으로 삭힌다.','내 잘못이 아닌걸 차근차근 설명한다.','화부터 내고 시작한다.'],['언젠가 드라마같은 일이 내 인생에서 일어날 것이다.','글쎄.. 있을 수도 있고.. 없을 수도 있고.. 반반','놉! 현실과 드라마는 다르다.','당연!'],['아는 사람이 적은 파티에 가야할 때?','아는 사람들이랑만 어울린다.','참석하지 않거나 얼굴만 비추고 집으로 돌아온다.','파티에서 새로운 친구를 사귄다.']]; %>
    
    <!-- 결과값 저장 배열 -->
    <% const answer = []%>

    <!-- 모든 지문 출력 -->
    <%  for(let i=0; i<text.length; i++){ %>
        <div class="<%=i %>"><%=text[i][0]; %><br>
        <% answer.push('answer'+i); %>
        <%for(let j=1; j<text[i].length; j++){ %>
                <input type="radio" name="<%=`${answer[`${i}`]}` %>" value="<%=j; %>"><%=j %>
                <div><%= text[i][j]; %></div>
            <% } %> <br><br><br>
        </div>
        <% } %>
    <br><button onclick="getResult(8)">결과보기</button><br><br>

    <!-- 결과 출력 -->
    <div>결과값</div>
    <div id='result'></div>

    <script>
        // 체크값을 다 더해서 result 구하는 함수
        function getResult(n) {
            let result=0;
            for(let i = 0; i<n; i++){
                const resultList=document.getElementsByName('answer'+i);
                resultList.forEach((node) => {
                if(node.checked)  {
                    result+=parseInt(node.value);
                }
                }) 
            }
            document.getElementById('result').innerText = result;
        }
    </script>

    <!-- <script src="../../static/js/test.js"></script> -->


</body>
</html>
