<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>성격테스트</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../../static/css/test.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/progressBar.css">
    <link rel="stylesheet" href="../../static/css/loading.css">
    <link rel="stylesheet" href="../../static/css/testTitle.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle:wght@700&family=Gowun+Dodum&family=Jua&family=Kirang+Haerang&family=Nanum+Gothic&family=Nanum+Pen+Script&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column min-vh-100 ">

    <!-- Header include -->
    <%- include('../common/header.ejs') %>

        <main class="main-d">

            <!-- Title of the Test -->
            <div class="wrapper">
                <H1 class="title-d">Disney Princess Test</H1>
            </div>

            <!-- Progress Bar -->
            <div class="container-md-auto ">
                <h3 class="page page-d"></h3>
                <div class="progress ">
                    <div class="progress-bar progress-bar-d " role="progressbar " aria-label="Example with label " aria-valuemin="0 " aria-valuemax="100 "></div>
                </div>
            </div>

            <!-- Container -->
            <!-- <div class="container"> -->

            <div class="question">
                <!-- Go back -->
                <a class="goBack goBack-none"><i class="bi bi-backspace "></i> 다시하기</a>
                <!-- Questions using Js for loop -->
                <!-- Only one Question appears and next one shows up when it is answered -->
                <% for(let i=0; i<10;i++){ %>
                    <div class="question<%=i%> question-none">
                        <h2 id="q<%=i%>"></h2>
                        <div class="answer-container">
                            <div class="answer glow-d">
                                <p id="answer<%=i%>0" class="glowPen answers"></p>
                            </div>
                            <hr/>
                            <div class="answer glow-d">
                                <p id="answer<%=i%>1" class="glowPen answers"></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <!-- End of for loop -->
                        <!-- Loading animation -->
                        <div class="dot-wave dot-wave-none loading">
                            <div class="dot-wave__dot"></div>
                            <div class="dot-wave__dot"></div>
                            <div class="dot-wave__dot"></div>
                            <div class="dot-wave__dot"></div>
                        </div>

            </div>

            <script type="module" src="/static/js/test_disney.js"></script>


        </main>

        <%- include('../common/footer.ejs') %>
</body>

</html>